{% extends "base.html" %}
{% load static %}
{% block title_page %}My categories{% endblock %}
{% block title %}My categories{% endblock %}
{% block content %}
    <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 xl:col-span-12 md:col-span-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Recent Users</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr class="unread">
                                <td>
                                    <img class="rounded-full max-w-10" style="width: 40px"
                                         src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="activity-user"/>
                                </td>
                                <td>
                                    <h6 class="mb-1">Isabella Christensen</h6>
                                    <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                                </td>
                                <td>
                                    <h6 class="text-muted">
                                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                                        11 MAY 12:56
                                    </h6>
                                </td>
                                <td>
                                    <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                                    <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                                </td>
                            </tr>
                            <tr class="unread">
                                <td>
                                    <img class="rounded-full max-w-10" style="width: 40px"
                                         src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="activity-user"/>
                                </td>
                                <td>
                                    <h6 class="mb-1">Mathilde Andersen</h6>
                                    <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                                </td>
                                <td>
                                    <h6 class="text-muted">
                                        <i class="fas fa-circle text-danger text-[10px] ltr:mr-4 rtl:ml-4"></i>
                                        11 MAY 10:35
                                    </h6>
                                </td>
                                <td>
                                    <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                                    <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                                </td>
                            </tr>
                            <tr class="unread">
                                <td>
                                    <img class="rounded-full max-w-10" style="width: 40px"
                                         src="{% static 'assets/images/user/avatar-3.jpg' %}" alt="activity-user"/>
                                </td>
                                <td>
                                    <h6 class="mb-1">Karla Sorensen</h6>
                                    <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                                </td>
                                <td>
                                    <h6 class="text-muted">
                                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                                        9 MAY 17:38
                                    </h6>
                                </td>
                                <td>
                                    <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                                    <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                                </td>
                            </tr>
                            <tr class="unread">
                                <td>
                                    <img class="rounded-full max-w-10" style="width: 40px"
                                         src="{% static 'assets/images/user/avatar-3.jpg' %}" alt="activity-user"/>
                                </td>
                                <td>
                                    <h6 class="mb-1">Karla Sorensen</h6>
                                    <p class="m-0">Lorem Ipsum is simply dummy text of…</p>
                                </td>
                                <td>
                                    <h6 class="text-muted">
                                        <i class="fas fa-circle text-success text-[10px] ltr:mr-4 rtl:ml-4"></i>
                                        9 MAY 17:38
                                    </h6>
                                </td>
                                <td>
                                    <a href="#!" class="badge bg-theme-bg-2 text-white text-[12px] mx-2">Reject</a>
                                    <a href="#!" class="badge bg-theme-bg-1 text-white text-[12px]">Approve</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}