{% load static %}
<div class="navbar-wrapper">
    <div class="m-header flex items-center py-4 px-6 h-header-height">
        <a href="{% url 'dashboard' %}" class="b-brand flex items-center gap-3">
            <img src="{% static 'assets/images/logo-white.svg' %}" class="img-fluid logo logo-lg" alt="logo"/>
            <img src="{% static 'assets/images/favicon.svg' %}" class="img-fluid logo logo-sm" alt="logo"/>
        </a>
    </div>
    <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
        <ul class="pc-navbar">
            <li class="pc-item pc-caption">
                <label>My savings</label>
            </li>
            <li class="pc-item">
            <li class="pc-item">
                <a href="{% url 'dashboard' %}" class="pc-link">
                    <span class="pc-micon"><i data-feather="home"></i></span>
                    <span class="pc-mtext">Dashboard</span>
                </a>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="{% url 'savings' %}" class="pc-link">
                    <span class="pc-micon"><i data-feather="layers"></i></span>
                    <span class="pc-mtext">Savings</span>
                </a>
            </li>
            <li class="pc-item pc-caption">
                <label>Directories</label>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="{% url 'accounts' %}" class="pc-link">
                    <span class="pc-micon"><i data-feather="folder"></i></span>
                    <span class="pc-mtext">Accounts</span>
                </a>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="{% url 'categories' %}" class="pc-link">
                    <span class="pc-micon"><i data-feather="folder"></i></span>
                    <span class="pc-mtext">Categories</span>
                </a>
            </li>
        </ul>
    </div>
</div>
